---
layout: default
#navigation_weight: 1
title: Home
---

<article class="recent-posts">
    <ul>
        {% for post in site.posts limit:4 %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {% if post.thumbnail %}
                    <a href="{{ post.url }}" class="post-thumb">
                        {% if post.capsule == 'new' %}
                            <span class="capsule"></span>
                        {% endif %}
                        {% if post.capsule == 'found' %}
                            <span class="capsule-found"></span>
                        {% endif %}
                        {% asset {{post.thumbnail}} alt="{{post.title}}" %}
                    </a>
                {% endif %}
                {% if post.date %}
                    <time datetime="{{ post.date | date_to_long_string }}" itemprop="datePublished">
                        {{ post.date | date_to_long_string }}
                    </time>
                {% endif %}
                {% if post.summary %}
                    <p>
                        {{ post.summary | truncate: 180 }}
                    </p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</article>

<article class="destinations">
    <h1>Destinations</h1>
    
    {% include destinations-map.html %} 
</article>
