---
layout: default
navigation_weight: 1
title: Home
---

<section class="recent-posts">
    <h1>Recent posts</h1>
    
    <ul>
        {% for post in site.posts limit:4 %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {% if post.thumbnail %}
                    <a href="{{ post.url }}"><img src="{% asset {{post.thumbnail}} %}" alt="{{post.title}}" /></a>
                {% endif %}
                {% if post.date %}
                    <time datetime="{{ post.date | date_to_long_string }}" itemprop="datePublished">
                        {{ post.date | date_to_long_string }}
                    </time>
                {% endif %}
                {% if post.summary %}
                    <p>
                        {{ post.summary }}
                    </p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>


<!--
<ul class="tags">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
{% endfor %}
</ul>

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

{{ t | downcase }}
<ul>
{% for post in posts %}
  {% if post.tags contains t %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}


-->