{% assign countDE = 0 %}
{% for post in site.categories['DE'] %}
    {% assign countDE = countDE | plus: 1 %}
{% endfor %}

{% assign countUA = 0 %}
{% for post in site.categories['UA'] %}
    {% assign countUA = countUA | plus: 1 %}
{% endfor %}

{% assign countRO = 0 %}
{% for post in site.categories['RO'] %}
    {% assign countRO = countRO | plus: 1 %}
{% endfor %}

{% assign countCZ = 0 %}
{% for post in site.categories['CZ'] %}
    {% assign countCZ = countCZ | plus: 1 %}
{% endfor %}

<script>
    var _de = '{{countDE}}',
        _ua = '{{countUA}}',
        _ro = '{{countRO}}',
        _cz = '{{countCZ}}';
</script>


<script type='text/javascript' src='https://www.google.com/jsapi'></script>

<div id='visualization'></div>