<footer class="site-footer">
   
    <a class="navlink" href="/workwithus/">Work with Travellertips.me</a>
   
    <div class="search">
        <form action="{{ site.baseurl }}/search/" method="get">
            <div class="search-wrapper">
                <label for="search-box"></label>
                <input type="text" id="search-box" name="query">
<!--            <input type="submit" value="">-->            
            </div>
        </form>
    </div>
    
    <p>Travellertips 2017, All rights reserved c</p>
    <a class="navlink" href="/disclaimer/">Terms of Use</a>
    <a class="navlink" href="/contact/">Contact us</a>
</footer>
