<footer class="site-footer">
   
    <div class="search">
        <form action="{{ site.baseurl }}/search/" method="get">
            <div class="search-wrapper">
                <label for="search-box"></label>
                <input type="text" id="search-box" name="query">
                <input type="submit" value="search">           
            </div>
        </form>
    </div>
    
    <p>Travellertips 2018. All rights reserved &copy;</p>
    
    <div class="footer-nav">
        <a class="navlink" href="/workwithus/">Work with Travellertips.me</a>
        <a class="navlink" href="/disclaimer/">Terms of Use</a>
        <a class="navlink" href="/privacy/">Privacy policy</a>
        <a class="navlink" href="/contact/">Contact us</a>  
    </div>
</footer>
