<header class="page-top-header" role="banner">
    <input id="menu" type="checkbox">
    <label for="menu">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="header-wrapper">
        <a href="/" class="logo"><span class="reader">travellertips logo</span></a>
        <nav class="main-nav">
            <ul>
                <li>      
                    {% if page.menu!=null %}
                        <a href="/blog/index.html" class="active">Blog</a>
                    {% else %}
                        <a href="/blog/index.html">Blog</a>
                    {% endif %}
                </li>
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
                {% if p.navigation_weight %}
                <li>
                    {% if p.url == page.url %}
                        <a href="{{ p.url }}" class="active"> {{ p.title }} </a>
                    {% else %}
                        <a href="{{ p.url }}"> {{ p.title }} </a>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>       
    </div>
</header>
<div class="gallery-header">
    <div class="social-buttons">
        <a href="https://www.instagram.com/traveller.tips/" target="_blank" class="instagram"></a>
        <a href="https://twitter.com/polinovskyi" target="_blank" class="twitter"></a>
        <a href="https://www.linkedin.com/in/polinovskyi/" target="_blank" class="linkedin"></a>
    </div>
</div>
<div class="site-description">
    {{ site.description }}
</div>