
{% asset main.js %}

{% asset lunr.js %}
{% asset search.js %}

{% if site.environment == "production" %}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview');ga('set', 'anonymizeIp', true);
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{site.addthis}}"></script>
<script type="text/javascript">
var addthis_share = {
   url: window.location.href
}
</script>
