<hr>

<section class="travellertips">
   
    <h2>Traveller tips</h2>
    
    {% if {{include.BestTimeToVisit}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="BestTimeToVisit">When is the best time to visit</h3>
            {{include.BestTimeToVisit}}
        </div>
    {% endif %}
    
    {% if {{include.HowYouGetThePlace}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="HowYouGetThePlace">How you get the place</h3>
            {{include.HowYouGetThePlace}}
        </div>
    {% endif %}
    
    {% if {{include.ClothesToPack}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="ClothesToPack">Kind of clothes you should pack</h3>
            {{include.ClothesToPack}}
        </div>
    {% endif %}
    
    {% if {{include.EquipmentToHave}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="EquipmentToHave">Equipment to have</h3>
            {{include.EquipmentToHave}}
        </div>
    {% endif %}
    
    {% if {{include.BestPlacesToStay}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="BestPlacesToStay">Best places to stay</h3>
            {{include.BestPlacesToStay}}
        </div>
    {% endif %}
    
    {% if {{include.WayToGoAround}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="WayToGoAround">The way you can go around</h3>
            {{include.WayToGoAround}}
        </div>
    {% endif %}
    
    {% if {{include.HoToGetVisa}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="HoToGetVisa">How to get visa</h3>
            {{include.HoToGetVisa}}
        </div>
    {% endif %}
    
    {% if {{include.DailyBudget}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="DailyBudget">Suggested daily budget</h3>
            {{include.DailyBudget}}
        </div>
    {% endif %}
    
    {% if {{include.UsefulResources}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="UsefulResources">Useful resources</h3>
            {{include.UsefulResources}}
        </div>
    {% endif %}
    
    {% if {{include.UsefulContacts}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="UsefulContacts">Useful Contacts</h3>
            {{include.UsefulContacts}}
        </div>
    {% endif %}
    
    {% if {{include.HelpfulVocabulary}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="HelpfulVocabulary">Helpful vocabulary</h3>
            {{include.HelpfulVocabulary}}
        </div>
    {% endif %}
    
    {% if {{include.ExtremeExperience}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="ExtremeExperience">Extreme experience</h3>
            {{include.ExtremeExperience}}
        </div>
    {% endif %}

    {% if {{include.Photospots}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="Photospots">Photospots</h3>
            {{include.Photospots}}
        </div>
    {% endif %}
        
    {% if {{include.Nightlife}} != '' %}
        <div class="travellertips-tipp">
            <h3 class="Nightlife">Nightlife</h3>
            {{include.Nightlife}}
        </div>
    {% endif %}
    
</section>