@import "variables";
@import "mixins";

%sprite {
    background: url(asset_path('sprite.svg'));
    background-repeat: no-repeat;  
}

.page-top-header {
    height: 80px;
    box-shadow: 0 0 4px $body-text-color;
    position: relative;
}

.header-wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;

    @include huge {
        padding-left: $side-padding-huge;
        padding-right: $side-padding-huge;
    }
    
    @include large {
        padding-left: $side-padding-large;
        padding-right: $side-padding-large;
    }

    @include medium {
        padding-left: $side-padding-medium;
        padding-right: $side-padding-medium;
        flex-wrap: wrap;
    }
    
    @include small {
        padding-left: $side-padding-small;
        padding-right: $side-padding-small;
    }
    
}

.logo {
    @extend %sprite;
    display: inline-block;
    width: 247px;
    height: 48px;
}

/* Animate background */

.gallery-header {
    position: relative;
}

.background-wrapper {
    overflow: hidden;
    min-height: calc(100vh - 80px);
    position: relative;

    
    > div {        
        background-position: center;
        background-size: cover;
        min-height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Load mobile backgrounds */
@media screen and (max-width: #{$large-breakpoint}) {
    
    .bckgr1 {
        background-image: url(asset_path('background1_mob.jpg'));
    }

    .bckgr2 {
        background-image: url(asset_path('background2_mob.jpg'));
    }

    .bckgr3 {
        background-image: url(asset_path('background3_mob.jpg'));
    }

    .bckgr4 {
        background-image: url(asset_path('background4_mob.jpg'));
    }

    .bckgr5 {
        background-image: url(asset_path('background5_mob.jpg'));
    }

    .bckgr6 {
        background-image: url(asset_path('background6_mob.jpg'));
    }

    .bckgr7 {
        background-image: url(asset_path('background7_mob.jpg'));
    }

    .bckgr8 {
        background-image: url(asset_path('background8_mob.jpg'));
    }    
}

/* Load desktop backgrounds */
@media screen and (min-width: #{$large-breakpoint}) {

    .bckgr1 {
        background-image: url(asset_path('background1.jpg'));
    }

    .bckgr2 {
        background-image: url(asset_path('background2.jpg'));
    }

    .bckgr3 {
        background-image: url(asset_path('background3.jpg'));
    }

    .bckgr4 {
        background-image: url(asset_path('background4.jpg'));
    }

    .bckgr5 {
        background-image: url(asset_path('background5.jpg'));
    }

    .bckgr6 {
        background-image: url(asset_path('background6.jpg'));
    }

    .bckgr7 {
        background-image: url(asset_path('background7.jpg'));
    }

    .bckgr8 {
        background-image: url(asset_path('background8.jpg'));
    }
    
}

@keyframes headerImageGallery {
    0% {
        opacity: 1;
    }
    6.25% {
        opacity: 1;
    }
    12.5% {
        opacity: 0;
    }
    93.75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.background-wrapper div:nth-of-type(1) {
    animation-delay: 28s;
}
.background-wrapper div:nth-of-type(2) {
    animation-delay: 24s;
}
.background-wrapper div:nth-of-type(3) {
    animation-delay: 20s;
}
.background-wrapper div:nth-of-type(4) {
    animation-delay: 16s;
}
.background-wrapper div:nth-of-type(5) {
    animation-delay: 12s;
}
.background-wrapper div:nth-of-type(6) {
    animation-delay: 8s;
}
.background-wrapper div:nth-of-type(7) {
    animation-delay: 4s;
}
.background-wrapper div:nth-of-type(8) {
    animation-delay: 0;
}

.background-wrapper div {
    animation-name: headerImageGallery;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 32s;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute;
    top: calc(50% - 120px);
    left: 4rem;
    
    @include large {
        left: 2.5rem;
    }

    @include medium {
        left: 2rem;
    }
    
    @include small {
        left: 1rem;
        transform: scale(0.8);
    }    
    
    a {
        display: inline-block;
        width: 42px;
        height: 42px;
        margin: 0.5em 0;
        opacity: 0.8;
        transition: all $transition-speed ease-out;
        
        &:hover {
            opacity: 1;    
        }
    }
    
    .search {
        position: relative;
        opacity: 0.8;
        transition: all $transition-speed ease-out;
        
        &:hover {
            opacity: 1;    
        }
    }
}

.instagram {
    @extend %sprite;
    background-position: -8px -160px;
}

.facebook {
    @extend %sprite;
    background-position: -8px -113px;    
}

.twitter {
    @extend %sprite;
    background-position: -8px -66px;    
}

.site-description {
    text-align: center;
    background: #fff;
    font-size: $large-font-size;
    position: relative;
    margin: -3em auto 0;
    padding: 1.5em 2em 0;
    
    @include huge {
        max-width: 64rem;
        min-width: 55rem;
    }

    @include large {
        max-width: 54rem;
        min-width: 50rem;
    }

    @include medium {
        width: 100%;
        font-size: 16px;
    }
    
}
