@import "variables";
@import "mixins";

%sprite {
    background: url(asset_path('sprite.svg'));
    background-repeat: no-repeat;  
}

.page-top-header {
    height: 80px;
    box-shadow: 0 0 4px $body-text-color;
    position: relative;
}

.header-wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;

    @include huge {
        padding-left: $side-padding-huge;
        padding-right: $side-padding-huge;
    }
    
    @include large {
        padding-left: $side-padding-large;
        padding-right: $side-padding-large;
    }

    @include medium {
        padding-left: $side-padding-medium;
        padding-right: $side-padding-medium;
        flex-wrap: wrap;
    }
    
    @include small {
        padding-left: $side-padding-small;
        padding-right: $side-padding-small;
    }
    
}

.logo {
    @extend %sprite;
    display: inline-block;
    width: 247px;
    height: 48px;
}

/* Animate background */

.gallery-header {
    position: relative;
    margin-bottom: 3em;
}

.background-wrapper {
    overflow: hidden;
    min-height: calc(100vh - 80px);
    position: relative;

    
    > div {
        font-size: 80px;
        color: red;
        
        background-position: center;
        background-size: cover;
        min-height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.bckgr1 {
    background-image: url(asset_path('background1.jpg'));
}

.bckgr2 {
    background-image: url(asset_path('background2.jpg'));
}

.bckgr3 {
    background-image: url(asset_path('background3.jpg'));
}

.bckgr4 {
    background-image: url(asset_path('background4.jpg'));
}

.bckgr5 {
    background-image: url(asset_path('background5.jpg'));
}

.bckgr6 {
    background-image: url(asset_path('background6.jpg'));
}

.bckgr7 {
    background-image: url(asset_path('background7.jpg'));
}

.bckgr8 {
    background-image: url(asset_path('background3.jpg'));
}

@keyframes headerImageGallery {
    0% {
        opacity: 1;
    }
    6.25% {
        opacity: 1;
    }
    12.5% {
        opacity: 0;
    }
    93.75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.background-wrapper div:nth-of-type(1) {
    animation-delay: 28s;
}
.background-wrapper div:nth-of-type(2) {
    animation-delay: 24s;
}
.background-wrapper div:nth-of-type(3) {
    animation-delay: 20s;
}
.background-wrapper div:nth-of-type(4) {
    animation-delay: 16s;
}
.background-wrapper div:nth-of-type(5) {
    animation-delay: 12s;
}
.background-wrapper div:nth-of-type(6) {
    animation-delay: 8s;
}
.background-wrapper div:nth-of-type(7) {
    animation-delay: 4s;
}
.background-wrapper div:nth-of-type(8) {
    animation-delay: 0;
}

.background-wrapper div {
    animation-name: headerImageGallery;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 32s;
}

/* Load mobile backgrounds 
@media screen and (max-width: #{$medium-breakpoint}) {
    
    body::after {
        content: url(asset_path('background7_mob.jpg')) url(asset_path('background6_mob.jpg')) url(asset_path('background5_mob.jpg')) url(asset_path('background4_mob.jpg')) url(asset_path('background3_mob.jpg')) url(asset_path('background2_mob.jpg')) url(asset_path('background1_mob.jpg'));
    }
    
    .gallery-header {
        animation-name: headerImageGallery_mob;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 40s;
    }
     
    @keyframes headerImageGallery_mob {
      0%, 4.76%, 9.52% {
        background-image: url(asset_path('background1_mob.jpg'));
      }
      14.28%, 19.04%, 23.8% {
        background-image: url(asset_path('background2_mob.jpg'));
      }
      28.56%, 33.32%, 38.08% {
        background-image: url(asset_path('background3_mob.jpg'));
      }
      42.84%, 47.6%, 52.36% {
        background-image: url(asset_path('background4_mob.jpg'));
      }
      57.12%, 61.88%, 66.64% {
        background-image: url(asset_path('background5_mob.jpg'));
      }  
      71.4%, 76.16%, 80.92% {
        background-image: url(asset_path('background6_mob.jpg'));
      }  
      85.68%, 90.44%, 95.2% {
        background-image: url(asset_path('background7_mob.jpg'));
      } 
      100% {
        background-image: url(asset_path('background1_mob.jpg'));
      }  

    }
}

/* Load big backgrounds 
@media screen and (min-width: #{$medium-breakpoint}) {
    

    .gallery-header {
        animation-name: headerImageGallery;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 40s;
    }
    
    @keyframes headerImageGallery {
      0%, 4.76%, 9.52% {
        background-image: url(asset_path('background1.jpg'));
      }
      14.28%, 19.04%, 23.8% {
        background-image: url(asset_path('background2.jpg'));
      }
      28.56%, 33.32%, 38.08% {
        background-image: url(asset_path('background3.jpg'));
      }
      42.84%, 47.6%, 52.36% {
        background-image: url(asset_path('background4.jpg'));
      }
      57.12%, 61.88%, 66.64% {
        background-image: url(asset_path('background5.jpg'));
      }  
      71.4%, 76.16%, 80.92% {
        background-image: url(asset_path('background6.jpg'));
      }  
      85.68%, 90.44%, 95.2% {
        background-image: url(asset_path('background7.jpg'));
      } 
      100% {
        background-image: url(asset_path('background1.jpg'));
      }  

    }
    
}

*/

.social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute;
    top: calc(50% - 120px);
    left: 4rem;
    
    @include large {
        left: 2.5rem;
        top: calc(50% - 150px);
    }

    @include medium {
        left: 2rem;
        top: calc(50% - 180px);
    }
    
    @include small {
        left: 1rem;
        transform: scale(0.8);
        top: calc(50% - 210px);
    }    
    
    a {
        display: inline-block;
        width: 42px;
        height: 42px;
        margin: 0.5em 0;
        opacity: 0.8;
        transition: all $transition-speed ease-out;
        
        &:hover {
            opacity: 1;    
        }
    }
    
    .search {
        position: relative;
        opacity: 0.8;
        transition: all $transition-speed ease-out;
        
        &:hover {
            opacity: 1;    
        }
    }
}

.instagram {
    @extend %sprite;
    background-position: -8px -160px;
}

.facebook {
    @extend %sprite;
    background-position: -8px -113px;    
}

.twitter {
    @extend %sprite;
    background-position: -8px -66px;    
}

.site-description {
    text-align: center;
    background: #fff;
    font-size: $large-font-size;
    position: absolute;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5em 2em 0;
    
    @include huge {
        max-width: 64rem;
        min-width: 55rem;
    }

    @include large {
        max-width: 54rem;
        min-width: 50rem;
        position: static;
        transform: none;
    }

    @include medium {
        width: 100%;
        font-size: 16px;
    }
    
}
