@import "normalize";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.reader {
    visibility: hidden;
    width: 1px;
    height: 0;
}

.nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
    
    &.navlink {
        color: $navlink-color;
    }    
}

hr {
    border: none;
    height: 4px;
    background: url(asset_path('stroke.svg'));
    background-repeat: repeat;  
}

/* ============== HEADER ==============*/
@import "header";
/* =========== // HEADER ==============*/

/* ============== NAVIGATION ==============*/
@import "nav";
/* =========== // NAVIGATION ==============*/

.post-header {
    margin-bottom: 1em;
    
    .download-guide { 
        @include medium {
            margin-top: 1em;
        }
        
    }
}

.post-subheader-left,
post-subheader-right {
    display: inline-block;
    vertical-align: top;
}

.post-subheader-right {
    float: right;
}

.post-meta {
    font-size: 0.8em;
    
    .post-author {
        margin-bottom: 0.2em;
    }
    
    time {
        font-style: italic;
    }
}

.gmap_canvas img {
    max-width:none!important;
    background:none!important
}

.location-address {
    margin: 1em;
    color: black;
    font-size: 1rem;
}

.tipp {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em 1em 1em 4em;
    min-height: 5.5em;
    border: 1px solid $border-color;
    color: $tipp-text-color;
    background: $tipp-bg-color;
    position: relative;
    
    &::after {
        content: "";
        display: block;
        width: 27px;
        height: 54px;
        @extend %sprite;
        background-position: -5px -304px;
        position: absolute;
        top: calc(50% - 27px);
        left: 24px;
    }
    
    p:last-child {
        margin: 0;
    }
}

.button,
.download-button {
    display: inline-block;
    margin-bottom: 1rem;
    line-height: normal;
    padding: 0.5em;
    color: $body-text-color;
    background-color: #fff;
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    &:hover {
        color: $main-color;
        text-decoration: none;
        background-color: $main-color-background;
        border-color: $main-color-border;
    }    
}

.main-content {
    word-wrap: break-word;
    margin: auto;

  :first-child {
    margin-top: 0;
  }

  @include container;
  max-width: $huge-breakpoint;
    
    &.post {
        max-width: 50em;   
    }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: normal;
    color: $section-headings-color;
  }
  
    .post{
        
        h1 {
            display: block;
            position: relative;
            padding-left: 40px;
            color: $heading-color;
        }
    }

  p {
    margin-bottom: 1em;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $tipp-text-color;
    word-wrap: normal;
    background-color: $tipp-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    margin: 2em 0;
  }
}

.recent-posts,
.all-posts {
    
   ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        li {
            width: 50%;
            padding-right: 25px;
            margin-bottom: 2em;
            display: flex;
            flex-flow: column nowrap;
            
            @include medium {
                width: 100%;
                align-items: center;
                padding: 0;
            }
            
            h2 {
                margin-top: auto !important; /* To move down headers to the picture */
            }
            
            &:nth-child(2n) {
                padding-right: 0;
                padding-left: 25px;
                
                @include medium {
                    padding: 0;
                }
            }
            
            a {
                color: $body-text-color;
                
                &:hover {
                    color: $dark;
                    text-decoration: none;
                }
            }
            
            .post-thumb {
                position: relative;
            }
            
        }

    }    
}

.recent-posts,
.destinations {
    
    h1 {
        text-align: center;
    }
    
    h2 {
        
        @include huge {
            font-size: 40px;
            line-height: 44px;
        }

        @include large {
            font-size: 40px;
            line-height: 44px;
        }

        @include medium {
            font-size: 34px;
            line-height: 36px;
        }
    }
}

.all-posts {
    
    h1 {
        text-align: center;
    }
    
    ul li {
        margin-bottom: 1em;
    }
    
    h2 {

        @include large {
        //    font-size: 32px;
            line-height: 36px;
        }

        @include medium {
            font-size: 28px;
            line-height: 32px;
        }
    }
    
}

.related-posts-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    > div {
        width: 33%;
        margin-left: 1em;
        
        &:first-child {
            margin: 0;
        }
        
        @include medium {
            width: 100%;
        }
    }
    
    a {
        color: $body-text-color;

        &:hover {
            color: $dark;
            text-decoration: none;
        }
    }
    
    h3 {

        @include medium {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

/* ============== CAPSULE =================*/

span {
    &.capsule,
    &.capsule-found {
        position: absolute;
        top: -15px;
        left: -15px;

        display: block;
        width: 38px;
        height: 65px;

        @extend %sprite;
        background-position: -8px -372px;
    }
    
    &.capsule-found {
        background-position: -8px -442px;
    }
}

.post-title span {
    &.capsule,
    &.capsule-found {
        top: -10px;
    }
}

/* ============== // CAPSULE =================*/

/* ============== TOOLTIP =================*/

.tooltip:before,
.tooltip:after {
    position: absolute; 
    transform: translate3d(0,0,0);
    transition: all $transition-speed ease-out 0.5s;
    opacity: 0;
    pointer-events: none;
    z-index: 10000;
}


.tooltip:before {
    content: "";
    width: 0;
    height: 0;
    margin-left: -5px;
    top: -15px;
    left: 15px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $section-headings-color transparent transparent transparent;

}

.tooltip:after {
    font-size: 12px;
    content: attr(data-tooltip);
    color: #fff;
    display: block;
    width: 200px;
    height: 50px;
    padding: 8px;
    top: -80px;
    left: 0;
    background: $section-headings-color;
    border-radius: 4px;
    visibility: hidden;
    overflow: hidden;
}

.tooltip:hover:after { 
    opacity: 1;
    visibility: visible;
}

.tooltip:hover:before { 
    opacity: 1;
}

/* ============== // TOOLTIP =================*/

/* ============== PAGINATION =================*/

.pagination {
    text-align: center;
    font-size: 24px;
    margin-top: 2em;
    
    > * {
        padding: 0 10px;
    }
    
    a, span,
    a:hover,
    a:active {
        color: $main-nav-color;
        text-decoration: none;
    }
    
    .current-page,
    a:not(.next):not(.prev):hover {
        border-top: 3px solid $main-color;
    }
    
}

/* ============= // PAGINATION ================*/

/* ============= Search icon main page ============ */

.gallery-header {
    .search input[type="submit"] {
        display: none;
    }

    #search_toggle {
        display: none;
    }

    .search-icon {
        @extend %sprite;
        background-position: -8px -206px; 

        display: inline-block;
        width: 42px;
        height: 42px;
        margin-top: 1.5em;
        position: absolute;
        cursor: pointer;
        z-index: 2;
    }

    #search-box {
        width: 0;
        visibility: hidden;
        opacity: 0;
        border: none;
        display: inline-block;
        padding: 0;
        position: absolute;
        height: 40px;
        border-radius: 20px;
        top: 25px;
        left: 0;
        z-index: 0;
        background: #fff;
        transition: width $transition-speed, visibility $transition-speed, opacity $transition-speed;
    }

    input#search_toggle:checked + #search-box {
        padding: 0.1em 0.8em 0.1em 2.8em;
        position: absolute;
        width: 400px;
        opacity: 1;
        visibility: visible;
        transition: width $transition-speed, visibility $transition-speed, opacity $transition-speed;
    }

    input#search_toggle:checked ~ .search-icon {
        background-position: -5px -248px; 
    }
}

/* ============= // Search icon main page ============ */

/* ============= Search field general ============== */

#search-box {
    width: 400px;
    padding: 0.1em 0.8em 0.1em 2.8em;
    border: 1px solid $border-color;
    display: inline-block;
    height: 40px;
    border-radius: 20px;
    z-index: 0;
    background: #fff;
    transition: all $transition-speed linear;
    
    @include huge {
        max-width: 420px;
    }
    
    @include medium {
        max-width: 370px;
    }
    
    @include small {
        max-width: 300px;
    }
}

#search-box:focus {
    border-color: $dark;
}

.search-wrapper {
    display: inline-block;
    position: relative;
    
    label {
        position: absolute;
        top: -1px;
        left: 3px;
        width: 40px;
        height: 40px;
        display: block;
        @extend %sprite;
        background-position: -8px -248px; 
    }
    
    input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        height: 40px;
        padding: 0.5em 0.8em;
        color: $body-text-color;
        background-color: #fff;
        border-color: $border-color;
        border-style: solid;
        border-width: 1px;
        border-radius: 0 20px 20px 0;
        transition: color $transition-speed, background-color $transition-speed, border-color $transition-speed;

        &:hover,
        &:active {
            color: rgba($main-color, 0.8);
            text-decoration: none;
            background-color: rgba($main-color, 0.2);
            border-color: rgba($main-color, 0.3);
        }   
        
    }
}

/* ============= // Search field general ============ */

/* ============= Search Results page ================= */

#search-results {
    list-style-type: none;
    margin-top: 2em;
    padding: 0;
    
    li {
        margin: 1.5em 0;
    }
    
    a {
        color: $body-text-color;

        &:hover {
            color: $dark;
            text-decoration: none;
        }
    }
      
    .post-summary {
        display: flex;
        
        p {
            margin: 0;
        }
        
        img {
            max-width: 250px;
            padding-right: $side-padding-small;
        }
        
        @include medium {
            display: block;
            
            p {
                margin-top: 1em;
            }
            
            img {
                max-width: 100%;
            }
        }
    }
}

/* ============= // Search Results page ============== */


/* ============== Google map ==============*/

.map {
    position: relative;
    display: inline-block;
    line-height: 0;
    
    .overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #fff;
        z-index: 1;

    }
    
    .button-wrapper {
        position: absolute;
        left: 50%;
        top: 40%;
    }
    
    a {
        display: none;
        position: relative;
        left: -50%;
        z-index: 2;
    }
    
    &:hover {
        
        .overlay {
            display: block;
        }
        
        a {
            display: inline-block;
        }
    }
}


/* ============== // Google map ==============*/

/* ============== Traveller Tipps ================*/


.travellertips-tipp {
    padding-left: 55px;
    
    h3 {
        position: relative;
        
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -5px;
            left: -55px;
            width: 40px;
            height: 40px;
            @extend %sprite;
        }
        
        &.BestTimeToVisit:before {
            background-position: -54px -56px;
        }
        
        &.HowYouGetThePlace:before {
            background-position: -56px -97px;
        }
        
        &.ClothesToPack:before {
            background-position: -56px -137px;
        }
        
        &.EquipmentToHave:before {
            background-position: -56px -176px;
        }
        
        &.BestPlacesToStay:before {
            background-position: -56px -215px;
            height: 34px;
        }
        
        &.WayToGoAround:before {
            background-position: -56px -248px;
        }
        
        &.HoToGetVisa:before {
            background-position: -56px -288px;
            height: 32px;
            top: 0;
        }
        
        &.DailyBudget:before {
            background-position: -56px -318px;
        }
        
        &.UsefulResources:before {
            background-position: -56px -360px;
        }
        
        &.UsefulContacts:before {
            background-position: -56px -402px;
        }
        
        &.HelpfulVocabulary:before {
            background-position: -56px -489px;
        }
        
        &.ExtremeExperience:before {
            background-position: -56px -533px;
        }
        
        &.Photospots:before {
            background-position: -56px -574px;
        }
        
        &.Nightlife:before {
            background-position: -56px -447px;
        }
        
    }
}

/* ============== About ===============*/

ul.capsules-explained {
    list-style-type: none;
    margin-top: 2em;
    
    li {
        position: relative;
        margin: 2.5em 0;
    }
    
    span.capsule, span.capsule-found {
        left: -40px;
    }
}

/* ============== // About ===============*/

/* ============== // Traveller Tipps ==============*/

/* ============== FOOTER ==============*/
@import "footer";
/* ============== // FOOTER ==============*/








