@import "variables";

@mixin huge {
  @media screen and (min-width: #{$huge-breakpoint}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) and (max-width: #{$huge-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}


@mixin container {
    @include huge {
        padding: 2rem $side-padding-huge;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    @include large {
        padding: 2rem $side-padding-large;
        font-size: 1.1rem;
    }

    @include medium {
        padding: 2rem $side-padding-medium;
        font-size: 1rem;
    }
    
    @include small {
        padding: 2rem $side-padding-small;
        font-size: 1rem;
    }
}