@import "variables";

@mixin huge {
  @media screen and (min-width: #{$huge-breakpoint}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) and (max-width: #{$huge-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin container {
    @include huge {
        padding: 2rem 4rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    @include large {
        padding: 2rem 2.5rem;
        font-size: 1.1rem;
    }

    @include medium {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}