.main-nav {
    background: #fff;
    z-index: 2;
    
    @include medium {
        position: absolute;
        box-shadow: 0 2px 2px -2px $body-text-color;
        width: 100%;
        transform: scaleY(0);
        transform-origin: top;
        top: 80px;
        left: 0;
        transition: transform $transition-speed;
    }
    
    ul {
        margin: 0;
        padding: 0;
        
        li {
            display: inline-block;
            margin-left: 25px;
            
            @include medium {
                margin: 0.5em;
                display: block;
                text-align: center;
            }
        }
    }
    
    a {
        color: $main-nav-color;
        font-size: 24px;
        cursor: pointer;
        
        &.active {
            text-decoration: underline;
        }
    }

}

#menu,
label[for="menu"] {
    display: none;
}

label[for="menu"] {
    position: relative;
    
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: $body-text-color;
        transition: transform $transition-speed;
        
        &:nth-child(1) {
            top: calc(50% - 1px);
            transform: scaleX(100%);
        }
        
        &:nth-child(2) {
            transform: rotate(0deg);
            transform-origin: bottom left;
            top: auto;
            bottom: 0;
        }
        &:nth-child(3) {
            transform: rotate(0deg);
            transform-origin: top left;       
        }
    }
    
    @include medium {
        transform: translateX(0);
        position: absolute;
        top: 25px;
        right: $side-padding-medium;
        display: block;
        width: 35px;
        height: 26px;
        transition: transform $transition-speed;
    }
    
    @include small {
        right: $side-padding-small;
    }
}


input#menu:checked + label  {
    @include medium {
        transform: translateX(15px);
    }
}

input#menu:checked + label + .header-wrapper .main-nav {
    @include medium {
        transform: scaleY(1);
        padding-top: 0.5em;
        padding-bottom: 1em;
    }  
}

input#menu:checked + label span {
    &:nth-child(3) {
        transform: rotate(45deg);
        transform-origin: top left;
    }
    &:nth-child(1) {
        transform: translateX(-5px) scaleX(0);
    }
    &:nth-child(2) {
        transform: rotate(-45deg);
        transform-origin: bottom left;
    }
}