---
layout: post
title:  "Hohenzollern visit"
summary: If you want to visit this great medieval castle, your start point should be Stuttgart. From there you should take the regional train to Hechingen. If you want a direct train, this could be...
tags: [hohenzollern, photospot] 
description: Tips for visiting Hohenzollern castle. You can find best routes and make great photo from recommended here spots
permalink: /hohenzollern/
thumbnail: thumbnails/hohenzollern4-thumb.jpg
menu: posts
---

<p>One of the most beautiful medieval castles of Germany is Hohenzollern castle. The <a href="http://www.burg-hohenzollern.com/castle-history.html" tagret="_blank">history</a> of the 750 years-old castle is quite interesting. For such a long lifetime it was destroyed and rebuilt several times. </p>

<section class="tipp">
    <p>If you want to visit this great place, your start point can be Stuttgart. From there you should take the regional train to Hechingen. If you want a direct train, this could be IRE 3253, like in my case and you should plan your day in advance, as the direct regional train departures approximately every 2 hours. </p>
</section>

<p>The ticket price was 19 EUR for me from Stuttgart to Hechingen. You can check and book the tickets <a href="http://reiseauskunft.bahn.de/bin/query2.exe/dn?ld=15073&seqnr=2&ident=6l.0190673.1497683751&rt=1&rememberSortType=minDeparture&HWAI=JS!ajax=yes!js=yes!&REQ0HafasScrollDir=2" target="_blank">here</a>.</p>

<p>Hechingen is very quiet small town and there is no problem to find the right direction. If you go to the back of the station you can already see the castle on the hill. There are two ways to get the castle - shuttle bus (every hour) or a taxi (~15 EUR). In my case it was a taxi, as I had not much time and planned to visit <a href="https://www.instagram.com/p/BH7L30qgetc/?taken-by=polinovskyi" target="_blank">another German castle</a> next morning. Taxi or shuttle bus drives you to the parking space that is about 10 minutes from the castle. There you can use the toilet and find some snacks as well as the tourist information. You can also get the tickets to the second shuttle to the castle (2 EUR for an adult). You have two options to go: by foot or by shuttle bus. I would recommend a bus, as you’re going to save some power to go to the view point ;) </p>

<img src="{% asset_path hohenzollern2.jpg %}" alt="Inside Hohenzollern castle" />

<p>In the castle can go for a guided tour if you want. If you're hungry or desperately in the need of a cup of coffee, you can sit at the small caffee on its territory and eat some snack there. It is quite interesting in the castle itself. But the most mesmerizing there - is the view around.</p>

<p>After you got around and bought a magnet for your fridge - you might want to go here:</p>

<img src="{% asset_path hohenzollern4.jpg %}" alt="Hohenzollern castle view" />

<p>So, let’s go to a magnificent view!</p>

<p>When you go out the gates of the castle and start to go back by the shuttle’s road, in 200-300m you would see the small arrow sign pointing left off the road in the forest. You should follow the signs with Mariazell (first checkpoint of our route) or Zellerhorn (our destination point) wordings. If the weather is rainy or you go right after the rain - be prepared, the forest path is very slippery.</p>

<p>So, our first point is</p>

<div class="location-address">
    Hechingen-Boll, Mariazell <br>
    Unnamed Road, 72379 Hechingen
</div>

{% include map.html 
    query="Hechingen-Boll%2C+Mariazell"
    place_id="ChIJ5apUM6YDmkcRzwwm8OualSE" 
    img="maps/hohenzollern_mariazell.png" 
%} 

<p>This is what you expect to see there:</p>

<img src="{% asset_path hohenzollern3.jpg %}" alt="Mariazell Church" />

<p>After the church the path to Zellerhorn have noticeable incline to the top of the hill.</p>

<p>So our destination point is </p>

<div class="location-address">
Zellerhornwiese <br>
72461 Albstadt 
</div>

{% include map.html
    query="zellernhornwiese"
    place_id="ChIJhTyJzKYDmkcRgN0LsJ0d9to" 
    img="maps/hohenzollern_zellerhorn.png" 
%} 

<p>There you can relax and make great photos! </p>

<p>Few more viewpoints are available around as well, like </p>

<div class="location-address">
    Aussichtspunkt Hohenzollernblick <br>
    72379 Albstadt
</div>

<p>So, to get the most prominent experience of the place, I would recommend this route</p>

{% include map.html 
    img="maps/hohenzollern_zellerhorn.png" 
    mode="route"
    url="https://www.google.com/maps/dir/?api=1&origin=hohenzollern+castle&origin_place_id=ChIJ9Z59XbEDmkcRL1pF2TBwziI&waypoints=Hechingen-Boll%2C+Mariazell%7Czellernhornwiese&waypoint_place_ids=ChIJ5apUM6YDmkcRzwwm8OualSE%7CChIJhTyJzKYDmkcRgN0LsJ0d9to&destination=Aussichtspunkt+Hohenzollernblick&destination_place_id=ChIJazDxRA0DmkcRA3_rhAPSmoE&travelmode=walking"
%} 

        
        
        


