---
title:  "Helfenburk - medieval castle with its own energetics"
summary: In the northwest of Czech Republic, forgotten in the forest the ruins of the 14<sup>th</sup> Century castle have their rest. The beginnings of the castle are dated before 1375, when Hanuš of Helfenburk
author: Grygorii Polinovskyi
authorlink: https://www.instagram.com/polinovskyi/
date:   2018-07-20 09:24:03 +0200
description: Tipps to get to the medieval castle remains in the Czech Republic
tags: [temp, abandoned, photospot, castle, ruins] 
keywords: [castle, abandoned, ancient, czech, ruins]
category: CZ
permalink: /helfenburg/
thumbnail: thumbnails650/helfenburg1-thumb.jpg
thumbsmall: thumbnails320/helfenburg1-thumb.jpg
capsule: new
pdfguide: "helfenburg_guide.pdf"
menu: posts
comments: true
---

<p>In the northwest of Czech Republic, forgotten in the forest the ruins of the 14<sup>th</sup> Century castle have their rest. The beginnings of the castle are dated before 1375, when Hanuš of Helfenburk sold this castle to the Archbishop of Prague named Jenštejn, as known from the written sources. To be honest, this guy sold not only the castle, but also the surroundings with forests, villages and towns in the administration of the castle.</p>

<p>The Czech name of the castle &mdash; Hrádek, whose remains give only a weak view on the real castle standing here more then 600 years ago. As one of many castles from that time, its first appearance was mostly as a wooden fortification, however made with all known castle's attributes like a moat with water and high walls around the residence.</p>

<p>The reconstructions and adjustments made after 1375 changed the appearance of the castle entirely. Even the roads and the entrances were changed. The main entrance was made secure &mdash; it was quite complicated to get into the castle without getting into trouble.</p>

<p>During the times of political instabilities and epidemies, the fortification for young archbishop Jenštejn was finished. After he survived the illness and finished his political career, the Helfenburk which was previousely reserved for his retirement, became his refuge.</p>

<p>During the 15<sup>th</sup> Century, the castle has changed its owners, was sold and bought many times, served as a residence or as a storehouse of treasures and sacred objects. In November 1620 it was burned down during the Thirty Years War that was a first step to its desctruction and oblivion. Only in 1887 it became a new life by its owner Josef von Schroll. Starting from 1970s it is maintained by civic association "Hrádek" and open vor visitors till today.</p>

<figure>
    {% asset helfenburg_mix2.jpg alt="Helfenburk castle" %}
    <figcaption>13<sup>th</sup> Century remains of the Helfenburk castle</figcaption>
</figure>

<p>It will be easier to get the place if you have your own (or rented) car. Your destination point will be a parking lot aside of the road, marked with the Helfenburk sign near the small settlement Ostré (near Úštěk), Czech Republic. </p>
<p>From the other side, the public transport connections are also ok. You can get to the place by train from Prague. The trip will last around 2 hours and cost 7 EUR one-way ticket. You can check how to get the place below in our Tips section.</p>

<div class="location-address">
    Helfenburk, 411 45 Úštěk, Czechia
</div>

{% include map.html
    query="Helfenburg"
    place_id="ChIJAQAAydhkCUcRt2jkNvQL2nQ" 
    img="maps/helfenburg.jpg" 
%} 

<p>From there you will start your trip through the forest to reach the castle. As soon as you have parked your car, you can go to the opposite side of the road and search the white-red or later on the way, white-yellow signs on the trees. Like these: </p>

<figure>
    {% asset helfenburg_mix1.jpg alt="Signs on the way to the Helfenburk castle" %}
    <figcaption>Signs on the way to the Helfenburk castle</figcaption>
</figure>

<p>The way through the forest is not difficult and you can get the place within 20-30 minutes without a big hurry. Path splits several times and first goes down a hill and after crossing small river goes up again. 
The place is full of mystery. The Legend says that people got lost in the forest in the past times catched by the ghosts… </p>

<figure>
    {% asset helfenburg3.jpg alt="The bridge over the river" %}
    <figcaption>The bridge over the river on the way to the castle</figcaption>
</figure>

<p>But no worries just follow the signs and you will be save. The place is quite friendly with the number of visitors.</p>

<p>At the end of the way castle appears first as ruins on the hill which gives peculiar feelings of the past times. </p>

<figure>
    {% asset helfenburg5.jpg alt="Inside the Helfenburk castle" %}
    <figcaption>Inside the Helfenburk castle</figcaption>
</figure>

<section class="tipp">
    <p>The place is not very secured for the visitors, there are a lot of places where you might fall down to the ditch or hurt yourself by other means. So be careful, especially if you are traveling with kids. </p>
</section>

<p>In the castle you will probably meet some other travelers walking around, having rest or even making some barbecue on the open fire. You can even go the very top of the tower to get a great view.</p>

<figure>
    {% asset helfenburg1.jpg alt="The view on the castle from the air" %}
    <figcaption>The view on the castle from the air</figcaption>
</figure>


<hr>

<h2>The Capsule</h2>

<p>To get our hidden treasure you should found a big cleft in the rocky wall of the castle. It is not difficult to find, you will see it as soon as you go up the path to the very castle. 
This is how you find the capsule: </p>

<figure>
    {% asset helfenburg_capsule.jpg alt="The place with hidden treasures" %}
    <figcaption>The place with hidden treasures</figcaption>
</figure>

<p>Please let us know if you find our capsule! We will share your finding on this page!</p>


{% include tips.html
    BestTimeToVisit = '<p>The place should be nice at any time of the year, however in Spring or Autumn the path can be quite dirty and slippery. </p>'
   
    HowYouGetThePlace = '<p><b>By Public transport:</b> if you start from Prague, you can get the train to Úštěk. You can check the timetable <a href="https://www.cd.cz/default.htm" target="_blank">here</a>. From Úštěk railway station you can get the castle by foot (it will take around 1 h) or to the Ostré by Bus #633, for more details <a href="https://en.mapy.cz/zakladni?planovani-trasy&x=14.3515838&y=50.5836164&z=16&rc=9g7fxx-7TglnRIv&rs=pubt&rs=ward&ri=15239031&ri=7944&mrp=%7B%22c%22%3A200%2C%22d%22%3Atrue%2C%22dt%22%3A%22%22%2C%22i%22%3A%5B0%2C0%5D%7D&rt=&rt=" target="_blank">see here</a>.</p><p><b>By car from Prague:</b> get to the E55 autoban. Follow to Route 247 in Lovosice. Take exit 45 from E55, after the exit turn left onto Route 247 (signs for Litoměřice/Lovosice/Libochovice), then follow the Route 00815 and Route 15 to Luční in Úštěk.</p>'
       
    ClothesToPack = ''
    
    EquipmentToHave = ''
    
    BestPlacesToStay = '<p>I would recommend the hotels in Úštěk if you like the calm rest. You can check them <a href="http://www.mesto-ustek.cz/en/vismo/o_utvar.asp?id_org=17555&id_u=1001&n=accommodation&p1=69<" target="_blank">here</a>. Other option would be to stay in Prag. There is no problem to find a place for stay although there.</p>'
    
    WayToGoAround = '<p>If you like to spend your time actively, I would recommend to rent a bicycle in Úštěk. One of the opitons would be to have a bike at <a href="https://www.firmy.cz/detail/12952689-puckolovrat-ustek-vnitrni-mesto.html" target="_blank">Pučkolovrať</a>. The website is in Czech, but you can get some insights about the place.</p>'
    
    HoToGetVisa = '<p>Czech Republic is within the Schengen Zone, so the usual rules for the Schengen Visa are required. You can find more info <a href="https://www.schengenvisainfo.com/how-to-apply-schengen-visa/" target="_blank">here</a>.</p>'
    
    DailyBudget = '<p>Assuming you travel with public transport from Prague, saving some money for a food, your minimal day budget will be <b>around 65 - 70 EUR</b>.</p><p>This includes: </p><ul><li>Prague - Úštěk train (both ways): around 14 EUR.</li><li>Food, if you eat in middle-class or fast-food restaurants &mdash; 12 EUR.</li><li>One night stay in the hotel in Úštěk for one is around 40 EUR (you can save by staying in hostel or by finding a room at airbnb).</li><li>Castle entrance price &mdash; 0 EUR.</li></ul>'
    
    UsefulResources = '<p>Maps and route planner: <a href="https://en.mapy.cz/zakladni?x=14.3642706&y=50.5889031&z=12&source=muni&id=1936" target="_blank">https://en.mapy.cz/</a></p><p>Czech railway website: <a href="https://www.cd.cz/default.htm" target="_blank">www.cd.cz</a></p>'
    
    UsefulContacts = ''
    
    HelpfulVocabulary = ''

    ExtremeExperience = ''
    
    Photospots = ''
    
    Nightlife = ''
 %}
        
        


