---
title:  "Königsstuhl - great nature landscape"
summary: Recently I was visiting a very nice place &mdash; the Nationalpark Jasmund reserve on the Rügen island in the north of Germany. One of the most beautiful spots there is so called Königsstuhl...
#date:   2017-09-29 09:24:03 +0200
description: Tips for getting to the North of Germany - Island Rügen
tags: [nature, photospot] 
categories: germany
permalink: /koenigstuhl/
thumbnail: thumbnails/ruegen1-thumb.jpg
menu: posts
---

{% include download-button.html guide="koenigstuhl_guide.pdf" %} 

<p>Recently I was visiting a very nice place &mdash; the Nationalpark Jasmund reserve on the Rügen island in the north of Germany. One of the most beautiful spots there is so called Königsstuhl &mdash; ”King’s chair”. It is the place where forest meets the sea with high and steep banks.
</p>

{% asset ruegen1.jpg alt="Ruegen island forest" %}

<p>The name of the place goes back to the history, when people choose their king (König) letting the man climb up the bank. So, basically, people with Spiderman’s abilities have become a King. Sad. Anyway, the place is a great photo-spot. On the hill named Königsstuhl there is a small museum with charged entrance of 8.50 EUR. You can check their website <a href="https://www.koenigsstuhl.com" target="_blank">https://www.koenigsstuhl.com</a>. And here is the first tip:
</p>

<section class="tipp">
    <p>If you come there before or after the museum’s opening/closing times &mdash; you’ve got a free entrance and, most probably, the silence without visitors. It is a cool time to film the sunrise (the sun will be over the see  so the banks will be nicely lighted).</p>
</section>

<p>When you get there, I bet you will want to go down the sea, especially if you travel in summer. This is what happened with me &mdash; when I got the place I was exhausted and it was very hot. After an hour of the forest walk and unsuccessful navigation with Google maps I started to talk with myself, but didn’t lose the passion to get the sea. And finally &mdash; yea! I found the way to the beach, so here is an exact map for you to safely get to the sea.
</p>

{% include map.html 
    query="Hechingen-Boll%2C+Mariazell"
    place_id="ChIJ5apUM6YDmkcRzwwm8OualSE" 
    img="maps/hohenzollern_mariazell.png" 
%} 

<p>It was around 7 p.m. and I was totally alone there (if you don’t count ducks).</p>

<p>I would really recommend the place if you like to be alone with the nature or your aim is to have great nature photos without fussy tourists.</p>

{% asset ruegen2.jpg alt="Schwerin Land museum" %}

<p>Just be aware, that the water is very cold there. So, if you're up to swimming, i would not recommend to go there alone.</p>

<section class="travellertips">
    <h2>Traveller tips</h2>
    
    <h3>When is the best time to visit</h3>
    <p>bla</p>
    
    <h3>Best places to stay</h3>
    <p>bla</p>
    
    <h3>The way you can go around</h3>
    <p>bla</p>
    
    <h3>Suggested daily budget</h3>
    <p></p>
    
    <h3>Useful resources</h3>
    <p>bla</p>
</section>

        
        
        


