---
title:  "Salina Turda"
summary: Salina Turda - the salt-mine in Turda, is one of the most unusual and at the same time popular objects in Romania. The small town Turda is situated in 35 km from the largest city of the historical and cultural region of Transylvania Cluj-Napoca.
author: Sergii Kudiashov
authorlink: https://www.facebook.com/profile.php?id=100004241341949
date:   2018-06-15 09:24:03 +0200
description: Salina Turda is the salt mine in Romania. The place is very interesting and good for your health. Here you can find travel tips how to get Salina Turda.
tags: [temp, salt, mine, health, cave] 
keywords: [salt, mine, romania, health, cave, under ground]
category: RO
permalink: /salinaturda/
thumbnail: thumbnails650/salinaturda10-thumb.jpg
thumbsmall: thumbnails320/salinaturda10-thumb.jpg
pdfguide: "salinaturda_guide.pdf"
menu: posts
comments: true
---

<h2>About the salt mine</h2>

<p>Salina Turda &mdash; the salt-mine in Turda, is one of the most unusual and at the same time popular objects in Romania. The small town Turda is situated in 35 km from the largest city of the historical and cultural region of Transylvania Cluj-Napoca. Most probably you will start your journey to Turda from there.</p>

<figure>
    {% asset salinaturda10.jpg alt="Salina Turda internal view" %}
    <figcaption>Salina Turda internal view</figcaption>
</figure>

<p>Cluj has its own <a href="http://airportcluj.ro/" target="_blank">airport</a> and <a href="https://www.cfrcalatori.ro/" target="_blank">railway</a> (in order to view the timetable and buy tickets you need to go through the registration process). You can also get to Cluj with Flixbus from Budapest or Vienna. Pay attention to the fact that there is no railway in Turda. </p>

<section class="tipp">
    <p>Do not let the Romanian railroad website be misleading: when typing Turda it offers the nearest station Campia Turzii, but the distance from here to the mine is still 9 km.</p>
</section>

<p>To get from Cluj to Turda you can take a local bus (tickets from 7 leu, a rate of exchange is 1 EUR = 4,6 Romanian leu). Their schedule and prices can be found <a href="https://www.autogari.ro/" target="_blank">here</a>.
</p>

<p>The place is quite touristic. Since its opening to tourists in 1992, Salina Turda has been visited by about two million Romanian and foreign tourists.</p>

<p>Salt in Turda was extracted by a surface method in the time of the Roman Empire, and since then salt lakes have been formed on the surface. The salt mining began in the Middle Ages and ended in 1932. Its present look the mine has got in 2010 after the completion of works on welfare on financing of Europe Union (almost 6 million EUR). </p>

<figure>
    {% asset salinaturda12.jpg alt="Salina Turda museum" %}
    <figcaption>Salina Turda museum</figcaption>
</figure>

<p>The mine is divided into 2 parts: therapeutic and tourist. The mine has 2 entrances. If you travel on foot &mdash; I recommend the old entrance, if by car &mdash; I advise you to use the new entrance. There you will find a parking lot, a cafe and a souvenir shop. The price of a ticket to Salina Turda is 30 leu.
</p>

<figure>
    {% asset salinaturda1.jpg alt="Salina Turda New entrance" %}
    <figcaption>Salina Turda New entrance</figcaption>
</figure>

<div class="location-address">
    Aleea Durgăului 7, <br/>
    Turda 401106, Romania
</div>

{% include map.html 
    query="Salina+Turda"
    place_id="ChIJZca_hbNoSUcRDMHtZTdXftQ" 
    img="maps/salina_turda.jpg" 
%} 

<p>The big red mark is the new entrance, the smaller with the photospot mark is the old one. Starting from the old entrance, at first you will find yourself in the gallery of Franz Josef &mdash; a long transport corridor for the export of salt.</p>

<figure>
    {% asset salinaturda14.jpg alt="Salina Turda gallery of Franz Josef" %}
    <figcaption>Gallery of Franz Josef</figcaption>
</figure>

<p>On the way you will find many interesting museum exhibit. For example Kryvak &mdash; an authentic mechanism for salt extraction, put in motion by 4 horses.</p>

<figure>
    {% asset salinaturda13.jpg alt="Kryvak - an authentic mechanism for salt extraction" %}
    <figcaption>Kryvak &mdash; an authentic mechanism for salt extraction</figcaption>
</figure>

<p>The next room is the most interesting &mdash; in order to go down in it, you need to use a panoramic elevator or stairs (latter I don't recommend).</p>

<figure>
    {% asset salinaturda_mix1.jpg alt="Salina Turda inside" %}
    <figcaption>Mine internal views (museum, passage, gym and the panoramic elevator)</figcaption>
</figure>

<p>Here you can play golf, table tennis, basketball, ride on a big dipper. There are swings and slides for children.</p>

<p>There is also a souvenir shop in this hall but remember that on the market at the new entrance souvenirs may be cheaper. Throughout all the territory of Salina Turda is a high-quality Wi-Fi. In the mine you can meet people who are not look like the usual tourists. These are pensioners and patients who are being treated here with healing air.</p>

<figure>
    {% asset salinaturda4.jpg alt="A souvenir shop" %}
    <figcaption>A souvenir shop</figcaption>
</figure>

<p>If you use one more elevator, you can go down to the underground lake, where a recreation area with space design was set up on the water.</p>

<figure>
    {% asset salinaturda9.jpg alt="Underground lake" %}
    <figcaption>Underground lake</figcaption>
</figure>

<p>At this location you can rent a boat for 15 leu maximum for 3 people.</p>

<figure>
    {% asset salinaturda8.jpg alt="Underground lake" %}
    <figcaption>Rent a boat at the underground lake</figcaption>
</figure>

<section class="tipp">
    <p>The whole year the temperature in the mine is kept within 10-12 Celsium and the humidity is about 80%. So, dress warmly, it will be cool.</p>
</section>

<p>Salt is here everywhere, even on TVs and cameras.</p>
<p>Next to the new exit is the gym.</p>

<p>If you will have some time left I would advise you to walk through the central street of Turda.</p>

{% include tips.html
    BestTimeToVisit = '<p>The temperature in the mine is 10-12 Celsius and humidity is 80% the all year around. So, it doesn\'t matter, when you come, however I would recommend to chose the cold season not to bring additional clothes with you.</p>'
   
    HowYouGetThePlace = '<p>From Cluj-Napoca you get a bus (40-50 driving time) to the Turda city. Form the bus station to the Old entrance of the Salina Turda you can go walk 2,4 km through the town. If you want to get the place faster, you can take the bus #17. </p>'
       
    ClothesToPack = '<p>You should wear trousers and no T-shorts. It is quite cold there.</p>'
    
    EquipmentToHave = ''
    
    BestPlacesToStay = ''
    
    WayToGoAround = '<p>To get Salina Turda the Public transport should be enough. But if you have to go over Romania, rented car can be your choice.</p>'
    
    HoToGetVisa = ''
    
    DailyBudget = '<p>Assuming you travel with public transport, eating in a middle-range restaurants, saving money on the hotel, your minimal daily budget will be (counting for two) <b>around 62 EUR</b>.</p><p>This includes: </p><ul><li>Cluj-Turda bus: 1.50 (x2) EUR</li><li>Entry ticket to the mine: 6.50 EUR (x2)</li><li>Hotel for two per night: 30 EUR</li><li>Middle-range cafe lunch for two: 12 EUR</li><li>Rent of the boat for the underground lake: 3.20 EUR</li></ul>'
    
    UsefulResources = '<p>Mine website: <a href="http://salinaturda.eu/?lang=en">www.salinaturda.eu</a>.</p> <p>To check the intercity bus schedules and routes you can check this website <a href="https://www.autogari.ro/">www.autogari.ro</a> </p>'
    
    UsefulContacts = ''
    
    HelpfulVocabulary = ''

    ExtremeExperience = ''
    
    Photospots = ''
    
    Nightlife = ''
 %}

        
        
        


