---
title:  "Treasure found"
summary: I trapped to this great photo-spot accidentally during my trip to the german city Schwerin. To find this photo-treasure you should go to the small Land-museum near Schwerin...
#date:   2017-09-29 09:24:03 +0200
description: Tips for getting a sunken ship
tags: [abandoned, photospot] 
categories: germany
permalink: /schwerin/
thumbnail: thumbnails/schwerin1-thumb.jpg
menu: posts
---

{% include download-button.html guide="schwerin_guide.pdf" %} 

<p>I trapped to this great photo-spot accidentally during my trip to the german city Schwerin.</p>

{% asset schwerin1.jpg alt="Schwerin Land museum" %}

<p>To find this photo-treasure you should go to the small Land-museum (anchor) near Schwerin. If you travel by car &mdash; there is no problem to navigate there. You can park the car directly around the corner from the entrance. If you travel by transport, simply take the Bus # from Schwerin.</p>

{% include map.html 
    query="Hechingen-Boll%2C+Mariazell"
    place_id="ChIJ5apUM6YDmkcRzwwm8OualSE" 
    img="maps/hohenzollern_mariazell.png" 
%} 

<section class="tipp">
    <p>You can get a permission of making drone-photography at the entrance if you assure of non-commercial usage.</p>
</section>

<p>The museum itself is a very nice place to be. + (description of the museum).</p>

{% asset schwerin3.jpg alt="Schwerin Land museum" %}

<p>You allowed even make a small picnic (of course without fire) on its territory. There is small cafe, where you can taste homemade food and pastry. To be honest &mdash; the place doesn’t look like a touristic spot &mdash; and this makes it so nice ;)</p>

<p>If you go further opposite to the entrance you will come to the shore of the huge lake &mdash; you will notice the ship right away.</p>

{% asset schwerin2.jpg alt="Schwerin Land museum" %}

<p>It’s a great spot for abandoned places lovers.</p>

<section class="travellertips">
    <h2>Traveller tips</h2>
    
    <h3>When is the best time to visit</h3>
    <p>I would say that the best time is summer, as you can have a picnic on the grass and swim in the lake.</p>
    
    <h3>Best places to stay</h3>
    <p>bla</p>
    
    <h3>The way you can go around</h3>
    <p>bla</p>
    
    <h3>Suggested daily budget</h3>
    <p>bla</p>
    
    <h3>Useful resources</h3>
    <p>bla</p>
</section>

        
        
        


