---
title:  "Hohenzollern visit"
summary: One of the most beautiful medieval castles of Germany is Hohenzollern Castle. The history of the 750 years-old castle is quite interesting. First mention about the place dates to the 11th century. Before it was destroyed completely in 1423, the Castle had a very prominent value for the region.
author: Grygorii Polinovskyi
authorlink: https://www.instagram.com/polinovskyi/
date:   2017-09-29 09:24:03 +0200
description: Tips for visiting Hohenzollern castle. You can find best routes and make great photo from recommended here spots
tags: [temp, castle, photospot] 
keywords: [castle, hohenzollern, germany, ancient]
category: DE
permalink: /hohenzollern/
thumbnail: thumbnails650/hohenzollern4-thumb.jpg
thumbsmall: thumbnails320/hohenzollern4-thumb.jpg
capsule: found
pdfguide: "hohenzollern_guide.pdf"
menu: posts
---

<h2>History of the Castle</h2>

<p>bla</p>

{% asset hohenzollern_top.jpg alt="Hohenzollern castle view" %}

<section class="tipp">
    <p>If you want to visit this</p>
</section>

<div class="location-address">
    Hechingen-Boll, Mariazell <br>
    Unnamed Road, 72379 Hechingen
</div>

{% include map.html 
    query="Hechingen-Boll%2C+Mariazell"
    place_id="ChIJ5apUM6YDmkcRzwwm8OualSE" 
    img="maps/hohenzollern_mariazell.png" 
%} 


{% include tips.html
    BestTimeToVisit = ''
   
    HowYouGetThePlace = ''
       
    ClothesToPack = ''
    
    EquipmentToHave = ''
    
    BestPlacesToStay = ''
    
    WayToGoAround = ''
    
    HoToGetVisa = ''
    
    DailyBudget = ''
    
    UsefulResources = ''
    
    UsefulContacts = ''
    
    HelpfulVocabulary = ''

    ExtremeExperience = ''
    
    Photospots = ''
    
    Nightlife = ''
 %}

        
        
        


