@import "variables";
@import "mixins";

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
    
    a {
        display: inline-block;
        margin-bottom: 20px;
    }
    
  @include container;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.footer-nav {
    a {
        font-size: 16px;
        margin-left: $side-padding-medium;
        
        &:first-child {
            margin: 0;
        }
    }
}