---
title:  "Salina Turda"
summary: Salina Turda - the salt-mine in Turda, is one of the most unusual and at the same time popular objects in Romania. The small town Turda is situated in 35 km from the largest city of the historical and cultural region of Transylvania Cluj-Napoca.
author: Sergii Kudiashov
authorlink: https://www.facebook.com/profile.php?id=100004241341949
date:   2018-06-15 09:24:03 +0200
description: Salina Turda is the salt mine in Romania. The place is very interesting and good for your health.
tags: [temp, salt, mine, health, cave] 
keywords: [salt, mine, romania, health, cave, under ground]
category: RO
permalink: /salinaturda/
thumbnail: thumbnails650/salinaturda10-thumb.jpg
thumbsmall: thumbnails320/salinaturda10-thumb.jpg
pdfguide: "salinaturda_guide.pdf"
menu: posts
---

<h2>About the salt mine</h2>

<p>Salina Turda &mdash; the salt-mine in Turda, is one of the most unusual and at the same time popular objects in Romania. The small town Turda is situated in 35 km from the largest city of the historical and cultural region of Transylvania Cluj-Napoca. Most probably you will start your journey to Turda from Cluj.</p>

<p>The place is quite touristic. Since its opening to tourists in 1992, Salina Turda has been visited by about two million Romanian and foreign tourists.</p>

<p>Salt in Turda was extracted by a surface method in the time of the Roman Empire, and since then salt lakes have been formed on the surface. The salt mining began in the Middle Ages and ended in 1932. Its present look the mine has received in 2010 after the completion of works on welfare on financing of Europe Union (almost 6 million euros). </p>

<figure>
    {% asset salinaturda10.jpg alt="Salina Turda internal view" %}
    <figcaption>Salina Turda internal view</figcaption>
</figure>

<p>Cluj has its own <a href="http://airportcluj.ro/" target="_blank">airport</a> and <a href="https://www.cfrcalatori.ro/" target="_blank">railway</a> (in order to view the timetable and buy tickets you need to go through the registration process). You can also get to Cluj with Flixbus from Budapest or Vienna. Pay attention to the fact that there is no railway in Turda. </p>

<section class="tipp">
    <p>Do not let the Romanian railroad website be misleading: when typing Turda it offers the nearest station Campia Turzii, but the distance from here to the mine is still 9 km.</p>
</section>

<p>To get from Cluj to Turda you can take a local bus (tickets from 7 lei, a rate of exchange is 1 euro = 4,6 Romanian lei). Their schedule and prices can be found <a href="https://www.autogari.ro/" target="_blank">here</a>.
</p>

<p>The mine is divided into 2 parts: therapeutic and tourist. The mine has 2 entrances. If you travel on foot &mdash; I recommend the old entrance, if by car &mdash; I advise you to use the new entrance. There you will find a parking lot, a cafe and a souvenir shop. The price of a ticket to Salina Turda is 30 lei.
</p>

{% asset salinaturda1.jpg alt="Salina Turda Main entrance" %}

==========================

<div class="location-address">
    Hechingen-Boll, Mariazell <br>
    Unnamed Road, 72379 Hechingen
</div>

{% include map.html 
    query="Hechingen-Boll%2C+Mariazell"
    place_id="ChIJ5apUM6YDmkcRzwwm8OualSE" 
    img="maps/hohenzollern_mariazell.png" 
%} 


{% include tips.html
    BestTimeToVisit = ''
   
    HowYouGetThePlace = ''
       
    ClothesToPack = ''
    
    EquipmentToHave = ''
    
    BestPlacesToStay = ''
    
    WayToGoAround = ''
    
    HoToGetVisa = ''
    
    DailyBudget = ''
    
    UsefulResources = ''
    
    UsefulContacts = ''
    
    HelpfulVocabulary = ''

    ExtremeExperience = ''
    
    Photospots = ''
    
    Nightlife = ''
 %}

        
        
        


