---
title:  "Helfenburg &mdash; medieval castle with its own energetics"
summary: In the northwest of Czech Republic, forgotten in the forest the ruins of the xxx century castle have their rest. 
author: Grygorii Polinovskyi
authorlink: https://www.instagram.com/polinovskyi/
date:   2018-06-22 09:24:03 +0200
description: Tipps to get to the medieval castle remains in the Czech Republic
tags: [temp, abandoned, photospot, castle, ruins] 
keywords: [ship, abandoned, lake, czech, ruins]
category: CZ
permalink: /helfenburg/
thumbnail: thumbnails650/helfenburg1-thumb.jpg
thumbsmall: thumbnails320/helfenburg1-thumb.jpg
capsule: new
pdfguide: "helfenburg_guide.pdf"
menu: posts
---

<p>In the northwest of Czech Republic, forgotten in the forest the ruins of the xxx century castle have their rest. </p>

<br>
(history from brosure) 
<br>

<p>It will be easier to get the place if you have your own (or rented) car. Your destination point will be a parking lot aside of the road, marked with the Helfenburg sign near the small settlement Ostré (near Úštěk), Czech Republic. From there you will start your trip through the forest to reach the castle. As soon as you have parked your car, you can go to the opposite side of the road and search the white-red or later on the way, white-yellow signs on the trees. Like these: </p>

(images)

<p>The way through the forest is not difficult and you can get the place within 20-30 minutes without a big hurry. Path splits several times and first goes down a hill and after crossing small river goes up again. 
The place is full of mystery. The Legend says that people got lost in the forest in the past times catched by the ghosts… </p>

<p>But no worries just follow the signs and you will be save. The place is quite friendly with the number of visitors.</p>

<p>At the end of the way castle appears first as ruins on the hill which gives peculiar feelings of the past times. </p>

(photo)

<p>In the castle you will probably meet some other travelers walking around, having rest or even making some barbecue on the open fire. You can even go the very top of the tower to get a great view.</p>

(picture)

<section class="tipp">
    <p>Ihe place is not very secured for the visitors, there are a lot of places where you might fall down to the ditch or hurt yourself by other means. So be careful, especially if you are traveling with kids. </p>
</section>

<h2>The Capsule</h2>

<p>To get our hidden treasure you should found a big cleft in the rocky wall of the castle. It is not difficult to find, you will see it as soon as you go up the path to the very castle. 
This is how you find the capsule: </p>

(Photo)

{% include tips.html
    BestTimeToVisit = '<p>The place should be nice at any time of the year, however in Spring or Autumn the path can be quite dirty and slippery. </p>'
   
    HowYouGetThePlace = ''
       
    ClothesToPack = ''
    
    EquipmentToHave = ''
    
    BestPlacesToStay = '<p>The closest and quite cheap hotel is <a href="http://www.feriendorf-muess.de/" target="_blank">Feriendorf Muess</a>. In general, you’ll find hundreds of other options around Schwerin &mdash; just choose one according your budget and wishes.</p>'
    
    WayToGoAround = '<p>If you travel <b>by car</b> you can go by Autobahn A 24 Berlin-Hamburg in the direction Schwerin, then by the road A 14 you will be directly there: with the exit Schwerin Ost go out from Autobahn and follow the Bundesstraße 321 approximately 1,5 km in direction Schwerin/Zentrum. Shortly after passing the city entrance sign, turn right at the traffic lights (Netto Markt). After 350 meters you will see at the right the hotel Feriendorf Muess and the next street left &mdash; is the museum.</p>
    <p>If you go by <b>public transport</b> from Schwerin, you can start at the main railway station (Schweriner Hauptbahnhof). There you take a tram No 1 in the direction of the Hegelstraße and go to the stop called Stauffenbergstraße. There you change to the Bus No 6 in the direction of the  Muess Ausbau and go to the Freilichtmuseum stop. There you can easely find a way to the Museum.</p>'
    
    HoToGetVisa = ''
    
    DailyBudget = '<p>If you visit the place alone you don’t need much money. The entrance price is just 5 EUR for adult, 0-2 EUR for kids and 10 EUR for a family. To get from Schwerin to Museum will cost you 2.80 EUR in one way or you can take a day ticket for Zone 1 and Zone 2 for 8.40 EUR. Other details you can find on the <a href="http://www.nahverkehr-schwerin.de/tarif/tarifubersicht/" target="_blank">Schwerin Public Transport website</a>. If we assume that you start your trip from Schwerin, having 3 meals per diem in middle-range or fast-food restaurants, and have a night in hotel of economy class, the your total budget would start at <b>~75 EUR</b>.</p>'
    
    UsefulResources = '
        <ul>
            <li><a href="https://www.schwerin.de/kultur-tourismus/kunst-kultur/bildende-kunst-museen/freilichtmuseum-schwerin-muess/oeffnungszeiten-preise-anfahrt/" target="_blank">Information about Museum</a></li>
            <li><a href="http://www.nahverkehr-schwerin.de/" target="_blank">Schwerin Public Transport website</a></li>
        </ul>'
    
    UsefulContacts = ''
    
    HelpfulVocabulary = ''

    ExtremeExperience = ''
    
    Photospots = ''
    
    Nightlife = ''
 %}

{% include share.html %}
        
        


