<!doctype html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
   
    {% include header-inner.html %}

    <main class="main-content" aria-label="Content" role="main">
        <article>

            <header class="page-header">
                <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
            </header>

            <div class="post-content" itemprop="articleBody">
                {{ content }}
            </div>

        </article>
    </main>
    
    <hr>
    
    {% include footer.html %}

    {% include javascripts.html %}
    
</body>
</html>

   
